body{
    background-color: #F0F3F5 !important;
}

.mainsidebar{
    width: 230px;
    background-color: #8DB2C8;
    height: 600px;
}


.mainconarea{
margin-left: 270px;
margin-top: -500px;
}

.imgbanner{
    width: 200px;
    display: block;
    margin: auto;
}

.banner{
    background-color:#64c7fe;
    width: 230px;
    border-bottom: 2px #2a2d5a solid;
}

.adminarea{
    background-color: #5D92B1;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.list-group-item{
    background-color: #8DB2C8   !important;
    color: white !important;
    border: none !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
color:#ffffff !important;
background-color: #2a2d5a !important;
border-radius: 0px !important;
border: none;

}